* {
  font-family: Arial, sans-serif;
}

body {
  max-width: 650px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}

a {
  color: #bb0000;
}

p {
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 15px;
}
